#under:hover{
    text-decoration: underline;
    text-decoration-color:#2E8B57;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo{
    background-color: #e4fce1;
    border-radius: 10px;
    border:3px solid #1EE55A; 
    padding: 12px;
    width: 950px;
    height: auto;
    margin: 10px;
    margin-top: 60px;
}

.footer{
    width: auto;
    height: 21px;
    text-align: center;
}

img, video{
    border-radius: 10px;
}


